# Fallback for Petitboot's syslinux parser only (see create-boot-script.sh) -
# boot.cmd is the real, config.ini-driven boot mechanism. Static default and
# bootargs here must stay in sync by hand with config.ini's own default
# (overlays="", HDMI-only) and boot.cmd's setenv bootargs.
default batocera-hdmi-only

label batocera-hdmi-only
linux /boot/linux
fdt /boot/rk3568-odroid-m1.dtb
append initrd=/boot/initrd.lz4 label=BATOCERA rootwait quiet loglevel=0 console=tty3 console=ttyS2,1500000n8 earlycon=uart8250,mmio32,0xfe660000 pci=nomsi

label batocera-vu8m
linux /boot/linux
fdt /boot/rk3568-odroid-m1.dtb
fdtoverlays /boot/overlays/display_vu8m.dtbo
append initrd=/boot/initrd.lz4 label=BATOCERA rootwait quiet loglevel=0 console=tty3 console=ttyS2,1500000n8 earlycon=uart8250,mmio32,0xfe660000 pci=nomsi
